.box {
  border: 1px solid black;
  height: 70px;
  width: 70px;
  text-align: center;
  font-size: 30px;
  background-image: url('../imgs/key.jpg');
  background-size: 70px;
  vertical-align: middle;
  line-height: 70px;
}
#finishBox {
  background: yellow;
}
#p1Start {
  border: 1px solid black;
  height: 70px;
  width: 70px;
  background: blue;
}
#p2Start {
  border: 1px solid black;
  height: 70px;
  width: 70px;
  background: red;
}
h1 {
  text-align: center;
}
button {
  margin: 0 10px;
}
img {
  max-width: 70px;
  max-width: 70px;
  position: absolute;
  left:0;
}
